html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	text-align: center;
	padding: 0;
	margin: 0px;
	font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial,"Lucida Grande", sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	letter-spacing: 2px;
}



.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	min-height: 25px;
	background-color: #222940;
	color: white;
	color: white;
	font-size: 12px;

}



.main {
	padding: 50px 0 10px 0;
	background-color: #8AA5FF;
	border-bottom: 3px solid white;
	min-height: 100%;
}

#main-1-center-container {
	display: none;
}


.side-selector-left {
	width: 15%;
	left: 0;
	text-align: left;
	top: 40%;
	position: fixed;
	color: white;
	padding-left: 8px;

}



.side-selector-left ul {
	list-style-type: none;
	font-size: 25px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	line-height: 1.3em;
	text-decoration: none;
}

.side-selector-left ul li:hover {

}

.select-indicator {
	width: 4px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}





.text-dec-none {
	text-decoration: none;
}




.center-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #222940;
	width: 100%;
	height: 30px;
	color: white;
	text-align: left;
	padding: 5px;
	font-size: 20px; 
	position: fixed;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	letter-spacing: .3em;
}

#name-wrapper {
	display: none;
}

.float-right {
	float: right;
}

#name-wrapper span {
	float: left;
	height: 100%;
	margin: 0px;
	font-size: 30px;

}

.header #last-name {
	margin-left: 0px;
}

.hor-center {
	margin-right: auto;
	margin-left: auto;
}

#profile-pic {
	height: 100px;
	max-height: 100px;
	border-radius: 15px;
	margin: 3px;
	border: 3px solid white;
}


#personal-info-container {
	width: 50%;
	margin-top: 10px;
	color: white;
	padding: 10px;
}

#main-name {
	color: white;
	width: 100%;
	font-size: 30px;
	text-transform: none;


}



.article {
	width: 100%;
	min-height: 25px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 8px;
	text-transform: none;
	font-family: Helvetica, Arial, sans-serif;
	color: #222940;
	position: relative;
	text-align: left;
	
}

.article .article-title {
	float: left;
	font-size: 30px;
}

.article-body {
	min-height: 40px;
	display: none;
}

.article-header {
	display: block;
}

.expand-option {
	display: '';
}

.collapse-option {
	display: none;
}

.article .expand-option {

	font-size: 12px;
	position: absolute;
   	bottom: 2px;
   	right: 2px;
   	cursor: pointer;
}

.main .center-container .section-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	font-size: 70px;
	color: white;
	margin-bottom: 20px;

}






